In [1]:
import pandas as pd

In [2]:
from sklearn import linear_model

In [3]:
train = pd.read_csv('train.csv')

In [4]:
type(train)

pandas.core.frame.DataFrame

In [5]:
train.columns
type(train.Age)

pandas.core.series.Series

In [6]:
train.Age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [7]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
train.Age = train.Age.fillna(train.Age.mean())
                             
for i, sex in enumerate(train.Sex):
    if sex =='male':
        train.Sex[i]=1
    else:
        train.Sex[i]=0

/Users/Yuichi/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/Yuichi/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [9]:
logiReg = linear_model.LogisticRegression()

In [10]:
y = train['Survived']
type(y)

pandas.core.series.Series

In [11]:
x = train[['Age', 'Sex']]
type(x)

pandas.core.frame.DataFrame

In [12]:
logiReg.fit(x, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
logiReg.coef_

array([[-0.0042936 , -2.41865573]])

In [14]:
logiReg.intercept_

array([1.11913633])

In [15]:
logiReg.score(x,y)

0.7867564534231201

In [17]:
py = logiReg.predict(x)

In [19]:
table = pd.crosstab(y, py)

In [20]:
table

col_0       0    1
Survived
0         468   81
1         109  233